In [4]:
import pandas as pd
import csv

SET = "/home/drosophila-lab/Documents/Fecundity/CNN-Classifier/Test1/lithium_training_vs_CD_testing.csv"

df = pd.read_csv(SET)

In [7]:
#df.iloc[:,2] == 0
#df.iloc[:,3] == 0

sum(df.iloc[:,2] == 0)

#& df.iloc[:,1] == 0)
#sum(df.iloc[:,2] == 0 | df.iloc[:,1] == 0)

5323

In [8]:
sum(df.iloc[:,1] == 0)

5496

In [9]:
sum(df.iloc[:,2] != 100000)

5914

In [17]:
print(sum((df.iloc[:,2] == 0) | (df.iloc[:,1] == 0)))
print(sum((df.iloc[:,2] == 0) & (df.iloc[:,1] == 0)))

5535
5284

In [18]:
print(sum((df.iloc[:,1] == 0) & (df.iloc[:,2] != 0)))
# humam 0 bot non 0

212

In [19]:
print(sum((df.iloc[:,1] != 0) & (df.iloc[:,2] == 0)))
# human non 0 bot 0

39

In [23]:
df.loc[((df.iloc[:,1] != 0) & (df.iloc[:,2] == 0)),:]

                     ImagePath  Bot  Human
166   eggs0countC1 14 pt18.jpg    2      0
487    eggs0countC1 3 pt86.jpg    2      0
706    eggs0countC1 58 pt6.jpg    2      0
745   eggs0countC1 38 pt34.jpg    1      0
857   eggs0countC1 48 pt70.jpg    2      0
1308   eggs0countC1 3 pt57.jpg    1      0
1481   eggs0countC1 21 pt4.jpg    1      0
1530   eggs0countC1 7 pt78.jpg    1      0
1826  eggs0countC1 34 pt89.jpg    1      0
1912  eggs0countC1 34 pt68.jpg    1      0
1918  eggs0countC1 11 pt89.jpg    1      0
2164  eggs0countC1 29 pt86.jpg    2      0
2417  eggs0countC1 35 pt38.jpg    1      0
2455  eggs0countC1 29 pt38.jpg    1      0
2568  eggs0countC1 54 pt13.jpg    1      0
2612    eggs0countC1 9 pt5.jpg    1      0
2711  eggs0countC1 28 pt31.jpg    1      0
2754  eggs0countC1 29 pt26.jpg    1      0
2829  eggs0countC1 34 pt58.jpg    1      0
2988  eggs0countC1 41 pt52.jpg    2      0
3441  eggs0countC1 38 pt74.jpg    1      0
3526  eggs0countC1 46 pt27.jpg    1      0
3535  eggs0countC1 34 pt73.jpg    2      0
3615  eggs0countC1 26 pt27.jpg    1      0
3620  eggs0countC1 33 pt16.jpg    1      0
3717  eggs0countC1 29 pt48.jpg    1      0
3739  eggs0countC1 13 pt63.jpg    1      0
3835  eggs0countC1 34 pt26.jpg    1      0
3954  eggs0countC1 48 pt67.jpg    1      0
4012  eggs0countC1 11 pt85.jpg    1      0
4043  eggs0countC1 11 pt80.jpg    1      0
4081  eggs0countC1 29 pt29.jpg    1      0
4584  eggs0countC1 11 pt79.jpg    1      0
4744  eggs0countC1 27 pt57.jpg    1      0
5160  eggs0countC1 22 pt22.jpg    1      0
5277  eggs0countC1 22 pt83.jpg    1      0
5466  eggs0countC1 37 pt86.jpg    2      0
5677  eggs0countC1 60 pt38.jpg    2      0
5797  eggs0countC1 49 pt46.jpg    1      0

In [24]:
df.loc[((df.iloc[:,1] == 0) & (df.iloc[:,2] != 0)),:]

                     ImagePath  Bot  Human
93    eggs6countC1 14 pt62.jpg    0      6
109   eggs1countC1 34 pt54.jpg    0      1
163   eggs1countC1 17 pt85.jpg    0      1
186   eggs1countC1 26 pt13.jpg    0      1
202   eggs1countC1 53 pt28.jpg    0      1
...                        ...  ...    ...
5783  eggs1countC1 52 pt13.jpg    0      1
5815  eggs1countC1 20 pt18.jpg    0      1
5839  eggs1countC1 41 pt40.jpg    0      1
5863  eggs1countC1 32 pt70.jpg    0      1
5909  eggs2countC1 22 pt46.jpg    0      2

[212 rows x 3 columns]